.characterContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px 10px;
}

.characterContainer .characterLink:hover {
	background-color: #c3cfd7;
}
.characterContainer .characterLink img {
	width: 200px;
	height: 200px;
	border-radius: 12px;
}
.characterContainer .characterTitle {
	font-size: 1.1rem;
	padding: 20px 0 0 0;
}
.characterContainer .characterLink {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 12px;
	width: 280px;
	padding: 15px;
	margin: 10px 4px 10px 4px;
	background-color: #f4f4f4;
	border: 1px solid #c3cfd7;
}
.singleCharacter {
	background-color: whitesmoke;
	width: 50%;
	margin: auto;
	display: flex;
  flex-direction: column;
	padding: 15px;
	height: 100vh;
}
.singleCharacter img {
	width: 150px;
	height: 350px;
	border-radius: 5px;
}
.singleCharacter .characterTitle {
	text-align: center;
	margin: 15px 0;
}
.singleCharacter .vehiclePlanet {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	color: blue;
}
.singleCharacter .vehiclePlanetTitle {
	font-size: 16px;
	text-align: center;
	margin: 20px 0 0 0;
}
.singleCharacter .vehiclePlanet a {
	padding: 0px 10px 10px 10px;
	font-size: 14px;
}
.singleCharacter .vehiclePlanet a:hover {
	color: rgb(47, 80, 141)
}
.singleCharacter .characterConnected {
	display: flex;
	margin: 12px auto;
}

.singleCharacter .characterConnected span {
	padding: 0 10px;
}

.characterContainer .characterLink .characterDetails {
	text-align: start;
	margin: 3px 0;
	padding: 3px 0;
	font-size: 15px;
}

@media only screen and (min-width: 950px) and (max-width: 1024px)  {
	.characterContainer .characterLink {
		width: 260px;
	}
}

@media only screen and (min-width: 830px) and (max-width: 949px)  {
	.characterContainer .characterLink {
		width: 230px;
		padding: 10px;
	}
	.singleCharacter {
		width: 60%;
	}
}

@media only screen and (min-width: 700px) and (max-width: 829px)  {
	.characterContainer {
		grid-template-columns: 1fr 1fr;
	}
	.characterContainer .characterLink {
		width: 250px;
	}
	.singleCharacter {
		width: 80%;
	}
}

@media only screen and (min-width: 500px) and (max-width: 699px)  {
	.characterContainer {
		grid-template-columns: 1fr 1fr;
	}
	.characterContainer .characterLink {
		width: 240px;
		margin: 10px 2px
	}
	.characterContainer .characterTitle {
		font-size: 16px;
	}
	.singleCharacter {
		width: 80%;
	}
}

@media only screen and (min-width: 375px) and (max-width: 499px)  {
	.characterContainer {
		grid-template-columns: 1fr;
	}
	.characterContainer .characterLink {
		width: 300px;
		margin: 10px auto;
	}
	.characterContainer .characterLink img {
		width: 250px;
		height: 250px;
	}
	.characterContainer .characterTitle {
		font-size: 15px;
	}
	.singleCharacter {
		width: 100%;
	}
}
